header {
  width: 100%;
  top:0;
  position: fixed;
  z-index: 2;
}

header nav {
  height: 8vh;
  background: #2c2c2c;
  display: flex;
}

.logo {
  width: 10%;
  height: 8vh;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.logo {
  justify-content: flex-end
}

header nav p {
  color: #fff;
}